/* Citations */
.markdown blockquote {
	@apply border-l-4 border-white pl-6 my-8 italic;
}
.markdown q {
	quotes: "“" "”" "‘" "’" "“" "”" "‘" "’" "“" "”";
}
.markdown cite {
	/* Used for creative works: book names, movies, etc. */
	@apply italic;
}

.markdown a cite,
.markdown cite a {
	@apply not-italic;
}

/* Divider */
.markdown hr {
	position: relative;
	padding: 3rem 0;
	border: none;
}
.markdown hr:before {
	content: "§";
	@apply text-white text-3xl font-serif text-center absolute right-0 left-0 top-4;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.markdown a {
	font-variant-caps: all-small-caps;
}

/* Headings */
.markdown h1,
.markdown h2,
.markdown h3 {
	@apply capitalize tracking-tighter;
}
