/* Citations */
.markdown blockquote {
  @apply border-l-4 border-white pl-6 my-8 italic;
}
.markdown q {
  quotes: "“" "”" "‘" "’" "“" "”" "‘" "’" "“" "”";
}
.markdown cite {
  /* Used for creative works: book names, movies, etc. */
  @apply italic capitalize;
}

.markdown a cite,
.markdown cite a {
  @apply not-italic;
}

.markdown a {
  font-variant-caps: all-small-caps;
  @apply font-smallcaps;
}

/* Lists */
.markdown ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
.markdown ol li {
  counter-increment: my-awesome-counter;
}
.markdown ol li::marker {
  content: counter(my-awesome-counter) ". ";
  @apply font-serif;
}

/* Headings */
.markdown h1,
.markdown h2,
.markdown h3 {
  @apply capitalize tracking-tighter;
}

/* Code */
.markdown code {
  @apply text-sm bg-black px-2 py-1 rounded;
}
.markdown pre {
  @apply text-sm bg-black px-4 py-4 rounded whitespace-pre-wrap;
}
