@tailwind base;

/* Write your own custom base styles here */
@layer base {
	html {
		@apply bg-gray-dark text-white;
	}
	/* TODO add a rainbow gradient transition on link hover */
	a:hover,
	a:active,
	a:focus {
		@apply text-accent;
	}
	a:hover {
		@apply transition duration-500;
	}
	h1,
	h2,
	h3 {
		@apply font-serif;
	}
	ul {
		@apply list-disc;
	}
	ol {
		@apply list-decimal;
	}
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
@layer components {
	.comment {
		@apply text-gray-regular tracking-wide all-small-caps;
	}
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
	.all-small-caps {
		font-variant-caps: all-small-caps;
	}
}
