@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SourceSansProSmallCaps";
    src: url("/fonts/SourceSansPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-2AF; /* Download small caps ranges */
  }
  html {
    @apply bg-gray-lightest dark:bg-gray-dark text-gray-darkest dark:text-gray-lightest;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-serif capitalize font-normal !important; /* !important tag to overwrite the Tailwind CSS Typography default */
  }
  p {
    @apply mt-0 !important; /* !important tag to overwrite the Tailwind CSS Typography default */
  }
  li {
    @apply mt-0 !important; /* !important tag to overwrite the Tailwind CSS Typography default */
  }
  a {
    @apply transition duration-300;
  }
  kbd {
    @apply text-xs text-gray-lightest bg-gray dark:bg-gray-darkest px-2 py-1 rounded;
  }
  .book-overlay {
    @apply bg-gray-darkest bg-opacity-90 max-w-screen-sm;
  }
}

@layer components {
  .comment {
    @apply all-small-caps text-base;
  }
  .tracking {
    @apply tracking-wide;
  }
  .book-overlay {
    @apply bg-gray-darkest dark:text-gray-lightest bg-opacity-90 max-w-screen-sm;
  }
}

@layer utilities {
  .all-small-caps {
    font-variant-caps: all-small-caps;
    @apply font-smallcaps;
  }
}
